assets/_demo/**/*.png filter=lfs diff=lfs merge=lfs -text
assets/_demo/**/*.exr filter=lfs diff=lfs merge=lfs -text
assets/_demo/**/*.usdc filter=lfs diff=lfs merge=lfs -text
assets/_demo/Moskovskiy_av_150/usd/Moskovskiy_av_150_HDRI.usd filter=lfs diff=lfs merge=lfs -text
